"*":
  Zen:
    showWordCount: "Right"
    softWrap: false
    tabs: "multiple"
    width: 100
  "autocomplete-bibtex":
    bibtex: [
      "/Users/franvillamil/Documents/bib/REF.bib"
    ]
    resultTemplate: "[key]"
    scope: ".source.gfm, .text.latex.tex"
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "language-pfm"
      "linter-chktex"
      "language-gfm"
      "linter-lintr"
      "minimap"
      "linter-latex"
      "linter-languagetool"
      "github"
      "git-diff"
      "language-git"
      "open-on-github"
    ]
    packagesWithKeymapsDisabled: [
      "r-exec"
    ]
    telemetryConsent: "no"
  editor:
    autoIndent: false
    fontSize: 16
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "39526bfc-4540-3ac4-dd70-124934e09f38"
  "file-types":
    "*.Rout": "source.r"
  "gfm-pdf":
    styleFontSize: "12px"
  latex:
    viewerPath: "/Applications/Preview.app"
  "linter-latex": {}
  "linter-lintr":
    executablePath: "/usr/local/bin/R"
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    showPanel: true
  "markdown-preview":
    useGitHubStyle: true
  "markdown-preview-enhanced":
    enableZenMode: true
    fileExtension: ".md, .mmark, .markdown, .Rmd"
  "markdown-writer":
    frontMatter: '''
      layout: "custom-layout"
      title: "<title>"
      date: "<date>"
      ---
    '''
    siteLocalDir: "/Users/franvillamil/Dropbox"
    textStyles:
      codeblock:
        after: '''
          
          {% endhighlight %}
        '''
        before: '''
          {% highlight %}
          
        '''
        regexAfter: '''
          
          {% endhighlight %}
        '''
        regexBefore: '''
          {% highlight(?: .+)? %}
          
        '''
      italic:
        after: "_"
        before: "_"
  metrics:
    userId: "82f1f7edf061f2a2818b1ec5fc7af35447c17175"
  minimap: {}
  "platformio-ide-terminal":
    core:
      autoRunCommand: "python3"
  "release-notes":
    viewedVersion: "0.85.0"
  "spell-check":
    grammars: [
      "source.gfm"
      "text.plain"
      "text.tex.latex"
    ]
  "stata-exec":
    whichApp: "Stata"
  "sync-settings":
    autoCheckForUpdatedBackup: "no"
    gistId: "7455b29897b9adc5e7aa2e373be6ad51"
    hiddenSettings:
      _lastBackupTime: "2022-02-08T14:53:18Z"
    personalAccessToken: "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"
  "terminal-plus":
    core:
      autoRunCommand: "python3"
  "toggle-packages":
    togglePackages: [
      "wrap-guide"
      "git-diff"
      "typewriter"
      "soft-wrap"
    ]
  "tree-view": {}
  typewriter:
    scopes: "source.gfm, .text.tex.latex"
  welcome:
    showOnStartup: false
  wordcount:
    extensions: [
      "md"
      "markdown"
      "tex"
      "txt"
    ]
    noextension: true
